* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
footer {
  position: relative;
  top: 20vh;
  width: 100vw;
  height: 50px;
  background-color: rgb(47, 43, 43);
  overflow: hidden;
}
img {
  position: absolute;
  height: 40px;
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%);
  animation: moving 15s linear;
  opacity: 0.7;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay: 10s;
}
img:nth-child(7) {
  animation-delay: 12s;
}
img:nth-child(8) {
  animation-delay: 14s;
}
img:nth-child(9) {
  animation-delay: 16s;
}
@keyframes moving {
  0% {
  }

  100% {
    right: 110%;
  }
}

